@font-face {
    font-family: 'Noto Sans Korean';
    font-weight: 900;
    src: local('Noto Sans Korean Black'),
    url('./font/NotoSansKR-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-weight: 700;
    src: local('Noto Sans Korean Bold'),
    url('./font/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-weight: 500;
    src: local('Noto Sans Korean Medium'),
    url('./font/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-weight: 400;
    src: local('Noto Sans Korean Regular'),
    url('./font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-weight: 300;
    src: local('Noto Sans Korean Light'),
    url('./font/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Korean';
    font-weight: 100;
    src: local('Noto Sans Korean Thin'),
    url('./font/NotoSansKR-Thin.otf') format('opentype');
}